.mixer-component {
  -webkit-box-flex: 1;
  .x-innerhtml {
    margin-left: auto !important;
    width: 90%
  }
}

.mixer {
  display: -webkit-box;
  //height: 300px;
  //-webkit-box-pack: justify;
  .channel {
    -webkit-box-flex: 1;
    display: -webkit-box;
  }

  .eq {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 250px;
    width: 75px;
    margin: 20px;
  }
}